/* CSS Document */
@media only screen and (min-width: 320px) {
  header #navigation h1, header #navigation a {
    font-size: 2.5vw;
  }
  section nav a {
    font-size: 1em;
    padding: 2px !important;
    letter-spacing: 1px;
  }
  #navigacija {
    background-position: center center;
  }
  #joinUs {
    display: none;
  }
  header #relativeNav {
    top: 40%;
    left: 7%;
  }
  #heroesNav {
    background-size: cover;
    background-image: url("../img/dota/heroes_full.jpg");
    background-position: center top;
    min-height: 300px;
    background-attachment: scroll;
  }
  #relativeNavHero {
    top: 25%;
    left: 13%;
  }
  .row #image3 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .row #item-3 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #finalText {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  #finalLine {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .abilityMain img {
    margin: 0px auto;
  }
  .abilityDesc {
    text-align: center;
  }
  #preFooter {
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 200px;
  }
  #author img {
    width: 60%;
  }
}

@media only screen and (min-width: 660px) {
  header #navigation h1, header #navigation a {
    font-size: 1.5vw;
  }
  section nav a {
    font-size: 1.5em;
  }
  header #relativeNav {
    top: 40%;
    left: 15%;
  }
  header #relativeNavHero {
    top: 24%;
    left: 28%;
  }
  #heroesNav {
    min-height: 400px;
  }
  #preFooter {
    background-position: top center;
    min-height: 500px;
  }
}

@media only screen and (min-width: 780px) {
  section nav a {
    font-weight: 700;
    color: #FF6046;
    letter-spacing: 0.5px;
    font-size: 2em;
    padding: 0.5rem 1rem !important;
  }
  .modal-xl {
    width: 90%;
    max-width: 1200px;
  }
  header #relativeNavHero {
    top: 20%;
    left: 30%;
  }
  #preFooter {
    background-position: top left;
    min-height: 600px;
  }
}

@media only screen and (min-width: 1100px) {
  header #relativeNav {
    top: 40%;
    left: 30%;
  }
  #joinUs {
    margin: 60px 0;
    padding: 10%;
    background-image: url("../img/dota/background4.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 548px;
  }
  header #relativeNavHero {
    top: 80%;
    left: 40%;
  }
  #heroesNav {
    background-size: no-repeat;
    background-image: url("../img/dota/heroes_full.jpg");
    background-position: center top;
    min-height: 900px;
  }
  .abilityMain img {
    margin: 0px;
  }
  .abilityDesc {
    text-align: left;
  }
  .modal-body {
    background-size: 130%;
    background-repeat: no-repeat;
  }
  #Modal1 .modal-body {
    background-image: url("../img/dota/icons/abaddon_portrait.png");
  }
  #Modal2 .modal-body {
    background-image: url("../img/dota/icons/aa_portrait.png");
  }
  #Modal3 .modal-body {
    background-image: url("../img/dota/icons/arcwarden_portrait.png");
  }
  #Modal4 .modal-body {
    background-image: url("../img/dota/icons/pudge_portrait.png");
  }
  #Modal5 .modal-body {
    background-image: url("../img/dota/icons/lina_portrait.png");
  }
  #Modal6 .modal-body {
    background-image: url("../img/dota/icons/nevermore_portrait.png");
  }
  #preFooter {
    background-position: top;
    min-height: 800px;
  }
  #navigacija1 {
    min-height: 300px;
  }
  #author img {
    width: 30%;
  }
  #author .abilityMain {
    width: 70%;
  }
}
/*# sourceMappingURL=responsive.css.map */