@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap");
* {
  margin: 0px;
  padding: 0px; }

body {
  background-image: url("../img/dota/bg_repeater.jpg");
  font-family: 'Noto Sans', sans-serif;
  background-size: 100%; }

header #brand {
  width: 200px;
  height: 50px;
  background-image: url(https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/global/dota2_logo_horiz.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }
header #navigacija {
  padding: 1vw;
  min-height: 600px;
  background-image: url("../img/dota/dotamap.png");
  background-repeat: no-repeat;
  mask-image: linear-gradient(to top, transparent 25%, black 100%);
  -webkit-mask-image: linear-gradient(to top, transparent 25%, black 100%); }
header #navigation {
  position: relative; }
  header #navigation h1, header #navigation a {
    color: white;
    font-size: 1.5vw;
    margin: 0px 1vw;
    font-weight: 600; }
  header #navigation .active {
    border-bottom: 2px solid #FF6046; }
header #relativeNav {
  text-align: center;
  letter-spacing: 1vw;
  position: absolute;
  top: 30%;
  left: 30%; }
  header #relativeNav h1 {
    color: white;
    font-weight: 700; }
    header #relativeNav h1 #minor {
      color: #E2DACE90; }

.horizontalLine {
  width: 80px;
  height: 3px;
  min-height: 3px;
  background-color: #FF6046;
  border-radius: 1px; }

/*SECTION BASICS*/
section nav a {
  font-weight: 700;
  color: #FF6046;
  letter-spacing: 0.5px;
  font-size: 2em; }

section nav a:hover {
  color: #313131; }

section .row {
  padding: 1vw;
  color: white;
  font-size: 1.5em;
  line-height: 150%;
  letter-spacing: 0.5px; }

.image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  min-height: 300px; }

#image1 {
  background-image: url("../img/dota/voidspirit.png"); }

#image2 {
  background-image: url("../img/dota/items.png"); }

#image3 {
  background-image: url("../img/dota/neutralItems.png");
  background-size: contain; }

.text h3, .text h4 {
  text-align: center;
  color: white; }

footer {
  padding: 1vw;
  background-color: black;
  color: #777777; }

/* CSS Document */
@media only screen and (min-width: 320px) {
  header #navigation h1, header #navigation a {
    font-size: 2.5vw; }

  section nav a {
    font-size: 1em;
    padding: 2px !important;
    letter-spacing: 1px; }

  #navigacija {
    background-position: center center; }

  header #relativeNav {
    top: 40%;
    left: 7%; }

  .row #image3 {
    order: 2; }

  .row #item-3 {
    order: 1; }

  #finalText {
    order: 3; }

  #finalLine {
    order: 4; } }
@media only screen and (min-width: 660px) {
  section nav a {
    font-size: 1.5em; }

  header #relativeNav {
    top: 40%;
    left: 15%; } }
@media only screen and (min-width: 780px) {
  section nav a {
    font-weight: 700;
    color: #FF6046;
    letter-spacing: 0.5px;
    font-size: 2em;
    padding: 0.5rem 1rem !important; } }
@media only screen and (min-width: 1100px) {
  header #relativeNav {
    top: 40%;
    left: 30%; } }
